<html lang="en">
<head>
    <title>Book Inventory</title>
</head>
<body>
<%- include("navbar") %>
<form action="/authors/add" method="post">
    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">First name</label>
    <input type="text" id="lastName" name="lastName" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>