<html lang="en">
<head>
    <title>Book Inventory</title>
</head>
<body>
<%- include("component/navbar.ejs") %>
<form action="/genres/add" method="post">
    <label for="genreName">Genre</label>
    <%- include("component/errors.ejs") %>
    <input type="text" name="genreName" id="genreName" value="<%= oldInput %>" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>