<html lang="en">
<head>
    <title>Book Inventory</title>
</head>
<body>
<%- include("navbar") %>
<form action="/genres/add" method="post">
    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>