<html lang="en">
<head>
    <title>Book Inventory Add Genre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<%- include("component/mobileMenu.ejs") %>
<%- include("component/navbar.ejs") %>
<div class="container">
    <div class="content-form-box">
        <form class="add-update-form" action="/genres/add" method="post">
            <label for="genreName">Genre:</label>
            <%- include("component/errors.ejs") %>
            <input type="text" name="genreName" id="genreName" value="<%= oldInput %>" required>
            <div class="flex-center-box">
                <button class="submit-form-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>