<form class="confirm-form" action="" method="post">
    <label class="confirm-form-label" for="confirmPassword">
        Write password to confirm action</label>
    <input type="text" name="confirmPassword" id="confirmPassword" required>
    <p class="confirm-form-error-messages"></p>
    <button type="submit" class="confirm-form-submit-btn">Submit</button>
    <button type="button" class="confirm-form-cancel-btn">Cancel</button>
</form>
