<html lang="en">
<head>
    <title>Book Inventory</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include("component/navbar.ejs") %>
<%- include("component/formConfirmUpdateAndDelete.ejs") %>
<div class="overlay"></div>
<div class="container">
    <div class="add-new-text-btn-box">
        <h2>Add new genre</h2>
        <a class="add-new-btn" href="/add">+</a>
    </div>
    <ul class="book-list" id="books-list">
        <% books.forEach((book) => { %>
            <%- include('component/book.ejs', {book: book}); %>
        <% }); %>
    </ul>
</div>
</body>
<script src="/js/confirmForm.js"></script>
</html>