<nav>
    <ul>
        <li>
            <a href="/">Books</a>
        </li>
        <li>
            <a href="/genres">Genres</a>
        </li>
        <li>
            <a href="/authors">Authors</a>
        </li>
    </ul>
</nav>