<html lang="en">
<head>
    <title>Book Inventory</title>
</head>
<body>
<%- include("navbar") %>
<form action="/genres/update/<%= genreId %>" method="post">
    <label for="genreName">Genre</label>
    <input type="text" name="genreName" value="<%= genreName %>" id="genreName" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>