<html lang="en">
<head>
    <title>Book Inventory</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include("component/navbar.ejs") %>
<%- include("component/formConfirmUpdateAndDelete.ejs") %>
<form>
    <label for="genreName">Genre</label>
    <input type="text" name="genreName" value="<%= genreName %>" id="genreName" required>
    <p class="validation-error-messages"></p>
    <button type="button" id="edit-genre-submit" data-genre-id="<%= genreId %>">Submit</button>
</form>
</body>
<script src="/js/confirmForm.js"></script>
</html>