:root {
    --color-gray-50: oklch(98.5% 0.002 247.839);

    --color-gray-100: oklch(96.7% 0.003 264.542);
    --color-gray-200: oklch(92.8% 0.006 264.531);

    --color-gray-400: oklch(70.7% 0.022 261.325);
    --color-gray-700: oklch(37.3% 0.034 259.733);
    --color-gray-600: oklch(44.6% 0.03 256.802);
    --color-gray-800: oklch(27.8% 0.033 256.848);


    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);

    --color-red-400: oklch(70.4% 0.191 22.216);
    --color-red-500: oklch(63.7% 0.237 25.331);
    --color-red-600: oklch(57.7% 0.245 27.325);
    --color-red-700: oklch(50.5% 0.213 27.518);

    --color-green-400: oklch(79.2% 0.209 151.711);
    --color-green-500: oklch(72.3% 0.219 149.579);
    --color-green-600: oklch(62.7% 0.194 149.214);
    --color-green-700: oklch(52.7% 0.154 150.069);
    --color-green-800: oklch(44.8% 0.119 151.328);

    --transition: 300ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
}

ul {
    list-style: none;
    padding: 0;
}

input, select {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1.5px solid var(--color-gray-200);
}

a {
    text-decoration: none;
    color: var(--color-gray-800);
}

.container {
    padding: 0 40px;
    position: relative;
    z-index: 0;
}

.confirm-form {
    display: none;
}

nav {
    width: 100%;
    height: 60px;
    padding: 0;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar-link-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}


.navbar-link {
    transition: color var(--transition);
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--color-gray-400);
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0;
}

.search-input {
    width: 500px;
    padding: 6px 10px;
    border-radius: 10px 0 0 10px;
    border: 1.5px solid var(--color-gray-100);
}

.search-form-btn {
    height: 30px;
    width: 30px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.genres-list,
.authors-list,
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}


.genres-list-item,
.authors-list-item,
.book-list-item {
    background-color: white;
    border-radius: 10px;
    padding: 15px 10px;
}


.book-info-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.book-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}


.update-delete-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}


.update-btn {
    background-color: var(--color-blue-500);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color var(--transition);
}

.update-btn:focus,
.update-btn:hover {
    background-color: var(--color-blue-600);
}


.delete-btn {
    background-color: var(--color-red-500);
    color: white;
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 5px;
    transition: background-color var(--transition);
}

.delete-btn:focus,
.delete-btn:hover {
    background-color: var(--color-red-600);
    border-color: transparent;
}

.add-new-text-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.add-new-btn,
.submit-form-btn {
    background-color: var(--color-green-600);
    padding: 5px 10px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    font-weight: bold;
    transition: background-color var(--transition);
}

.add-new-btn:focus,
.add-new-btn:hover,
.submit-form-btn:focus,
.submit-form-btn:hover {
    border-color: transparent;
    background-color: var(--color-green-700);
}

.book-img {
    width: 180px;
    max-height: 255px;
    object-fit: cover;
}

.add-update-form {
    width: 450px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.content-form-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.genres-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.genre-item {
    display: flex;
    align-items: center;
    gap: 2px;
}

.submit-form-btn {
    width: 70px;
}

.flex-center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.overlay-active {
    display: block;
}