<form class="confirm-form" action="" method="post">
    <label class="confirm-form-label" for="confirmPassword">
        Write password to confirm action</label>
    <input type="text" name="confirmPassword" id="confirmPassword" required>
    <p class="confirm-form-error-messages"></p>
    <div class="update-delete-btn-box">
        <button type="submit" class="confirm-form-submit-btn submit-form-btn">Submit</button>
        <button type="button" class="confirm-form-cancel-btn delete-btn">Cancel</button>
    </div>
</form>
