<div class="navbar-mobile-link-list">
    <div class="flex-end-modal-close-btn">
        <button class='close-modal-btn'><img src="/images/other/close.png" alt="close button icon" width="15"
                                             height="15"></button>
    </div>
    <a class="navbar-mobile-link" href="/">Books</a>
    <a class="navbar-mobile-link" href="/genres">Genres</a>
    <a class="navbar-mobile-link" href="/authors">Authors</a>
</div>