<nav>
    <div class="container">
        <div class="navbar">
            <button class="burger-menu-btn"><img src="/images/other/burger-bar.png" width="20" height="20"></button>
            <ul class="navbar-link-list">
                <li><a class="navbar-link" href="/">Books</a></li>
                <li><a class="navbar-link" href="/genres">Genres</a></li>
                <li><a class="navbar-link" href="/authors">Authors</a></li>
            </ul>
            <form class="search-form" id="search-form">
                <input class="search-input" type="text" id="search-input"
                       placeholder="Search for a book by book name or author"/>
                <button class="search-form-btn" type="submit">
                    <img src="/images/other/search.png" alt="search icon" width="20" height="20">
                </button>
            </form>
        </div>
    </div>
</nav>
<div class="search-results-box" id="search-results"></div>

<script src="/js/search.js"></script>